{% extends 'base.html' %}


{% block content %}

{% block banner %}


    
{% endblock %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/address.css' %}">
    <title>Contact Us</title>
</head>

<body>
    <header>
        <h1>Contact Us</h1>
    </header>

    <section class="main-content">
        <div class="contact-info">
            <h2>Our Contact Information</h2>
            <p><strong>Address:</strong> 123 College Street, Cityville, Country</p>
            <p><strong>Phone:</strong> +1 (123) 456-7890</p>
            <p><strong>Email:</strong> info@example.com</p>
            <p><strong>Website:</strong> <a href="http://www.example.com" target="_blank">www.example.com</a></p>
        </div>

        <div class="map-container">
            <!-- Replace the src attribute with your Google Maps embed code -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15717.437421777227!2d76.35214005!3d9.98714535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1707805893031!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    
</body>


{% endblock %}